<div class="header-wrapper">
  <div id="userinfo-header">
    <p>🔮 <%= link_to @logged_in_user.username, @logged_in_user %></p>
    <%= button_to "Logout", logout_path, method: :delete %>
  </div>
  <hr>
</div>
