<h1>All spells</h1>

<ul>

<% @spells.each do |s| %>
  <li>
    <div class="flex-horizontal">
      <div class="flex-child">
        <%= link_to s.name, s %>
      </div>
      <% if @logged_in_user && @logged_in_user.can_cast?(s) %>
        <div class="flex-child">
          You can cast this spell!
        </div>
      <% end %>
    </div>
  </li>
<% end %>

</ul>
