header {
  font-size: 20px;
    /* padding-top: 5px; */
}

  header a {
    color: white;
  }

nav {
  background: hotpink;
  padding: 5px;

  display: flex;
  justify-content: space-evenly;
}

  nav .nav-child {
  }

.user-nav {
  background: #333333;
  padding: 10px;

  display: flex;
  justify-content: space-between;

}

  .user-nav div {
    font-family: sans-serif;
    display: inline;
    color: white;
  }

    .user-nav div form {
      float: right;
    }


main {
  margin: auto;
  width: 80%;
  max-width: 600px;
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
}

.notifications {
  height: 40px;
  padding: 5px;
}

  .flash-notice {
    background: green;
  }
  .flash-error {
    background: red;
  }

.breadcrumbs {
  background: #ddd;
  padding: 5px;
}

/* users show pages */

.item-container {
  display: flex;
  justify-content: space-between;
}

.item {
  display: inline-flex;
}
