body {
  background: url('bg-astrology.jpg');
  background-size: cover;
  background-position: top center;
  font-family: cursive;
  font-size: large;
  padding: 50px;
  color: white;
}

a {
  text-decoration: none;
  color: #C2ADE8;
}

a:hover {
  text-decoration: underline;
}

/* nav layout styling */

header {
  font-size: 20px;
}

p, li, label {
  color: white;
}

main {
  margin: auto;
  width: 80%;
  max-width: 600px;
}

/* notifications */

.notifications {
  padding: 20px;
  position: fixed;
  right: 5%;
  width: 20%;
  /* background: url('bg-scroll2.jpg'); */
}

  /* .flash-spell {
    background: url('bg-glitter-gold.webp');

    padding: 10px;
    font-size: xx-large;
    color: white;
  } */

  .flash-notice {
    background: limegreen;
    padding: 10px;
    font-size: xx-large;
  }

  .flash-discovery {
    background: url('bg-glitter-pink.webp');
    padding: 10px;
    font-size: xx-large;
  }

  .flash-error {
    background: red;
    padding: 10px;
    font-size: xx-large;
  }

.flashy-spell {
  background: url('bg-glitter-gold.webp');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 90vw;
  height: 40vh;

  text-align: center;
  padding: 30vh 5vw;
  font-size: 5em;
}

/* breadcrumbs */

.breadcrumbs {
  background: url('bg-scroll2.jpg');
  background-size: cover;
  background-position: center;
  padding: 25px;
  font-size: xx-large;
  color: white;
}

/* content */

.content {
  background: url('bg-scroll2.jpg');
  background-size: cover;
  padding: 25px;
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
  font-family: cursive;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* sidebar menu */
#menu {
  padding: 20px;
  position: fixed;
  width: 10%;
  background: url('bg-scroll2.jpg');
}

#menu-button:hover #menu {
  display: inline;
  /* To do: use media queries to make this not hideous when screen is small */
}

.emoji {
  text-align: center;
  margin: 50px;
}


input[type=submit] {
  -webkit-appearance: button;
  font-family: serif;
}

hr {
  border: none;
  border-top: 3px double plum;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  content: '🔮';
  padding: 0 4px;
  position: relative;
  top: -16px;
  color: #fff
}


.bordered-div {
  border: 10px gold double;
  margin: 25px;

}

.subject-title {
  color: white;
}






/* flex */

.flex-horizontal {
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
}

.flex-child {
  display: inline-flex;
  color: white;
  /* border: 2px solid white; */
}

  .flex-child.even {
    display: initial;
    flex: 1
  }

.center {
  text-align: center;
}
.right {
  text-align: right;
}
