body {
  background: url('bg-astrology.jpg');
  background-size: cover;
  background-position: top center;
  font-family: cursive;
  font-size: large;
}

/* nav layout styling */

header {
  font-size: 20px;
    /* padding-top: 5px; */
}

  header a {
    color: white;
  }

  header a:hover {
    color: lightpink;
  }

nav {
  /* background: hotpink; */
  background: url('bg-grass.jpeg');
  background-size: cover;
  background-position: bottom;
  padding: 5px;

  display: flex;
  justify-content: space-evenly;
}

  nav .nav-child {
  }

.user-nav {
  background: #333333;
  padding: 10px;

  display: flex;
  justify-content: space-between;

}

  .user-nav div {
    font-family: sans-serif;
    display: inline;
    color: white;
  }

    .user-nav div form {
      float: right;
    }


main {
  margin: auto;
  width: 80%;
  max-width: 600px;
}

.notifications {
  height: 60px;
  padding: 25px;
}

  .flash-notice {
    background: green;
    padding: 5px;
  }
  .flash-error {
    background: red;
    padding: 5px;
  }

.breadcrumbs {
  background: url('bg-grass.jpg');
  background-size: cover;
  background-position: center;
  margin: 25px;
  padding: 25px;
  font-size: xx-large;
}

.content {
  background: url('bg-paper.jpg');
  background-size: contain;
  margin: 25px;
  padding: 25px;
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
  font-family: cursive;
  /* font-size: 200%; */
}







ul {
  list-style-type: none;
}

.flex-horizontal {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.flex-child {
  display: inline-flex;
}
